<!-- <h1>All Creeks</h1> -->
<div class="whole-container">
    <div class="container-left">
        <div class="cards">
            <% @creeks.each do |creek| %>
                <div class="card">
                    <div class="width-img">
                        <%= cl_image_tag creek.photo.key if creek.photo.attached? %>
                    </div>
                    <div class="details">
                        <h2 class="title"><%= creek.title %></h2>
                        <div class="localisation">
                            <h3 class="city"><%= creek.city %>, &nbsp</h3>
                            <h3 class="country"><%= creek.country %></h3>
                        </div>
                        <h4 class="price"><%= creek.price %>€/day</h4>
                        <div class="big-btn">
                            <%= link_to "Show", creek_path(creek), class: "btn" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class="container-right">
      <div
        id="map" style="width: 90%; height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
</div>