<h1>My hosting Creeks</h1>


<% @creeks.each do |creek| %>
    <h2><%= creek.title %></h2>
    <p><%= link_to "Show my creek", mycreek_path(creek) %></p>
    <p><%= link_to "Edit my creek", edit_creek_path(creek) %></p>
    <p><%= link_to "Delete my creek", creek_path(creek), method: :delete, data: {confirm: 'Are you really really sure?'} %></p>
<% end %>

<p><%= link_to "Add a new hosting creek", new_creek_path %></p>

