<h1>My new hosting creek</h1>

<%= form_for [@creek] do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :country %>
    <%= f.text_field :city %>
    <%= f.check_box :available %>
    <%= f.text_field :price %>
    <%= f.text_field :capacity %>
    <%= f.text_area :description %>
    <%= f.file_field :photo %>
    <%= f.submit %>
<% end %>