<h1>My new hosting creek</h1>

<%= form_for [@creek] do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :country %>
    <%= f.text_field :city %>
    <%= f.file_field :image, direct_upload: true, class: "form-control" %>
    <%= f.submit %>
<% end %>