<div class="show-container">
    <h1>Details of the <%= @creek.title %></h1>
    <div class="unique-card">
        <%= cl_image_tag @creek.photo.key, width: 400, height: 300, crop: :fill if @creek.photo.attached? %>
        <div class="details-singlecard">
            <h4 class="price"><%= @creek.price %>€/day</h4>
            
            <p class="description"><strong>Description: </strong><em><%= @creek.description %></em></p>
            <div class="localisation">
                <h3 class="city"><%= @creek.city %>, &nbsp;</h3>
                <h3 class="country"><%= @creek.country %></h3>
            </div>
            <% if @creek.available %>
            <h3 class="available">Available</h3>
            <% else %>
            <h3 class="available">Not available</h3>
            <% end %>
            <h3 class="capacity"><span>Capacity: </span><%= @creek.capacity %> persons</h3>
            <%= link_to "Book !", creek_bookings_path(@creek), method: :post, class: "btn book" %>
        </div>
    </div>

</div>