<!DOCTYPE html>
<html>
  <head>
    <title>CreekApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? %>
    <%= render 'layouts/header_co' %>
  <% else %>
    <%= render 'layouts/header_deco' %>
  <% end %>
    <%= yield %>

<!-- Test image Cloudinary -->
  <%= cl_image_tag("uodarehx7xs9zc4l9pbf", width: 400, height: 300, crop: :fill) %>

  </body>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
